@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --main-color: #00395e; /* Este color es del header de https://www.buap.mx/ */
    --secondary-color: #f0ecec; /* Este es el cuerpo de https://www.cs.buap.mx/ */

    --header-logo-height: 4em;
    --header-logo-margin: 0.6em;

    --footer-height: 3.5em;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--secondary-color);
}

.header-right {
    display: flex;
    align-items: center;
    height: calc(var(--header-logo-height) + var(--header-logo-margin));
    margin: auto 1em auto 1em;
}

.separator {
    flex-grow: 1;
}

.row {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#top-header {
    margin-bottom: 1em;
    background-color: var(--main-color);
    color: var(--secondary-color);
}

#BUAP-logo {
    height: var(--header-logo-height);
    margin: var(--header-logo-margin);
}

#header-and-main {
    /* https://stackoverflow.com/questions/42294/how-do-you-get-the-footer-to-stay-at-the-bottom-of-a-web-page */
    min-height: calc(100vh - var(--footer-height));
}

h1 {
    font-size: 4em;
    margin-bottom: 0;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-content h2 {
    margin-bottom: 5em;
}

#forum-container {
    width: 70vw;
    min-height: 15em;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #dfd9d9;
}

#forum-header {
    padding: 0;
    margin: 0;
}

.d {
    margin: 1em;
}

#forum-entries-container {
    width: 100%;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.entry {
    --padding: 2em;
    width: calc(100% - var(--padding-left));

    padding-left: var(--padding);
    padding-right: var(--padding);
}

.entry-title-div {
    background-color: none;
}

.entry-title {
    font-weight: bold;
    font-size: 1em;
}

.entry-category {
    padding: 0.2em;

    border-radius: 5%;

    font-weight: normal;

    background-color: blue;
    color: var(--secondary-color);
}

.entry-brief {
    font-size: 0.9em;
}

footer {
    position: relative;
    bottom: 0;

    margin-top: 2em;
    height: var(--footer-height);

    color: var(--secondary-color);
    background-color: var(--main-color);
}
