@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');

:root {
    --main-color: #00395e; /* Este color es del header de https://www.buap.mx/ */
    --main-color-hover: #156397;

    --secondary-color: #f0ecec; /* Este es el cuerpo de https://www.cs.buap.mx/ */
    --secondary-color-darker: #dad6d6; /* Este es el cuerpo de https://www.cs.buap.mx/ */

    --darker-blue-buap: #064d7c;
    --lighter-blue-buap: #04ccf4;

    --header-logo-height: 4rem;
    --header-logo-margin: 0.6rem;

    --footer-height: 3.5rem;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--secondary-color);

    background-image: url("../images/fondo-gris.avif");
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

#BUAP-logo {
    height: var(--header-logo-height);
    margin: var(--header-logo-margin);
}

#header-and-main {
    /* https://stackoverflow.com/questions/42294/how-do-you-get-the-footer-to-stay-at-the-bottom-of-a-web-page */
    min-height: calc(100vh - var(--footer-height));
}

#top-header {
    margin-bottom: 1rem;

    background-color: var(--main-color);
    color: var(--secondary-color);
}

.no-decor {
    color: var(--secondary-color);
    text-decoration: none;
}

.header-button:hover {
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;

    height: calc(var(--header-logo-height) + var(--header-logo-margin));
    margin: auto 1rem auto 1rem;
    padding: 0.5rem;
}

.separator {
    flex-grow: 1;
}

.row {
    width: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-content h1 {
    margin-bottom: 0;

    font-size: 4rem;
    font-weight: 400;
    text-align: center;
}

#main-content h2 {
    margin-bottom: 5rem;

    text-align: center;
    font-weight: 200;
}

#forum-container {
    width: 70vw;
    min-height: 15rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
}

#forum-header {
    padding: 0;
    margin: 0;
}

.forum-header-button {
    margin: auto 2rem auto 2rem;

    display: flex;

    padding: 0.4rem;
    margin-top: 0.6rem;

    position: relative;
}

.forum-header-button.colored {
    background-color: var(--darker-blue-buap);
    border-radius: 5%;
    /* border-left: 3px solid #04ccf4; */
}

.forum-header-button-text {
    text-decoration: none;
    color: var(--main-color);
}

.forum-header-button-text:hover {
    color: var(--lighter-blue-buap);
}

.forum-header-button.colored .forum-header-button-text {
    color: white;
}

.forum-header-button.colored:hover {
    background-color: var(--main-color-hover);
}

#search-bar {
    display: block;
    position: relative;

    background: none;
    color: #c6c6c6;

    font-size: 0.9rem;

    width: 100%;
    padding: 0.1rem;
    margin-bottom: 0rem;
    margin-left: 3rem;

    border: none;
    outline: none;

    transition: border 0.5s;
    border-bottom: 0px solid white;
}

#search-bar-label {
    color: var(--main-color);

    font-size: 1rem;

    position: absolute;
    left: 4rem;
    top: 0.7rem;

    transition: left 0.5s;
    pointer-events: none;
}

#search-bar-button {
    margin: 0.15rem;
    padding: 0.15rem;

    /* background-color: var(--darker-blue-buap); */
    color: var(--secondary-color);

    border-radius: 0.3rem;

    visibility: hidden;
    opacity: 0;

    cursor: pointer;

    transition: opacity 0.5s;
}

#search-bar-button img {
    width: 1em;
    height: 1em;
}

#search-bar-button:hover:active {
    background-color: var(--secondary-color-darker);
}

#search-bar-button:hover {
    background-color: var(--secondary-color);
}

#search-bar:not(:focus):placeholder-shown:hover~#search-bar-label {
    color: var(--lighter-blue-buap);
}

#search-bar:focus~#search-bar-label,
#search-bar:not(:placeholder-shown)~#search-bar-label {
    left: 0rem;
}

#search-bar:focus~label::after,
#search-bar:not(:placeholder-shown)~#search-bar-label::after {
    content: ":";
}

#search-bar:focus,
#search-bar:not(:placeholder-shown) {
    border-bottom: 1px solid var(--main-color);
}

#search-bar:focus~#search-bar-button,
#search-bar:not(:placeholder-shown)~#search-bar-button {
    visibility: visible;
    opacity: 100;
}

#forum-container hr {
    width: 97%;
    color: var(--main-color);
}

#forum-entries-container {
    width: 100%;

    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.entry {
    --padding: 2rem;
    width: calc(100% - var(--padding-left));

    padding-left: var(--padding);
    padding-right: var(--padding);
    margin: 0.5rem;
}

.entry:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.entry-title-div {
    background-color: none;
}

.entry-title {
    font-weight: bold;
    font-size: 1rem;
}

.entry-category {
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;

    border-radius: 5%;

    font-weight: normal;
    line-height: 1.6;

    color: var(--secondary-color);
}

.complaint {
    background-color: darkblue;
}

.suggestion {
    background-color: blue;
}

.entry-brief {
    font-size: 0.9rem;
    color: gray;

    margin: 0 0 1rem 0;
}

footer {
    position: relative;
    bottom: 0;

    margin-top: 2rem;
    height: var(--footer-height);

    color: var(--secondary-color);
    background-color: var(--main-color);
}

/* placeholder */
.footer-text-element {
    margin: 1rem;
}

@media(max-width: 1000px) {
    #forum-container {
        width: 90vw;
    }
}

@media(max-width: 600px) {
    #forum-container {
        width: 100vw;
    }

    #forum-header {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .forum-header-button {
        position: relative;
        width: 76%;
    }

    #search-bar-label {
        left: 0rem;
    }

    #search-bar {
        margin-left: 0;
    }

    #search-bar:focus,
    #search-bar:not(:placeholder-shown) {
        margin-left: 3rem;
    }
}
