@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    margin: 0;
    padding: 0;

    font-family: 'Source Sans Pro', sans-serif;
}

.right {
    display: flex;
    align-items: center;
    height: var(--logo-height);
    margin: 1em;
}

.separator {
    flex-grow: 1;
}

.row {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

#top-header {
    --logo-height: 5.5em;
    margin-bottom: 5em;
}

#BUAP-logo {
    height: var(--logo-height);
    margin: 1em;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-content h2 {
    margin-bottom: 5em;
}

#forum-container {
    width: 70vw;
    min-height: 15em;
    border: 1px solid darkblue;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#forum-header {
    padding: 0;
    margin: 0;
}

.d {
    margin: 1em;
}

#forum-entries {
    width: 100%;

    border-top: 1px solid black;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

footer {
    position: relative;
    bottom: 0;
    margin-top: 2em;

    background: lightgray;
}
