@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');

:root {
   --main-color: #00395e;
   /* Este color es del header de https://www.buap.mx/ */
   --main-color-hover: #156397;
   --secondary-color: #f0ecec;
   /* Este es el cuerpo de https://www.cs.buap.mx/ */
   --darker-blue-buap: #064d7c;
   --lighter-blue-buap: #04ccf4;

   --header-logo-height: 4rem;
   --header-logo-margin: 0.6rem;

   --footer-height: 3.5rem;
}

body {
   margin: 0;
   padding: 0;

   font-family: 'Source Sans Pro', sans-serif;
   background-color: var(--secondary-color);

   background-image: url("../images/fondo-gris.avif");
   background-size: cover;
   -moz-background-size: cover;
   -webkit-background-size: cover;
   -o-background-size: cover;
}

.header-right {
   display: flex;
   align-items: center;

   height: calc(var(--header-logo-height) + var(--header-logo-margin));
   margin: auto 1rem auto 1rem;
   padding: 0.5rem;
}

.separator {
   flex-grow: 1;
}

.row {
   width: 100%;

   display: flex;
   align-items: flex-end;
   justify-content: center;
}

#top-header {
   margin-bottom: 1rem;

   background-color: var(--main-color);
   color: var(--secondary-color);
}

.no-decor {
   color: var(--secondary-color);
   text-decoration: none;
}

#BUAP-logo {
   height: var(--header-logo-height);
   margin: var(--header-logo-margin);
}

#header-and-main {
   /* https://stackoverflow.com/questions/42294/how-do-you-get-the-footer-to-stay-at-the-bottom-of-a-web-page */
   min-height: calc(100vh - var(--footer-height));
}

#main-content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

h1 {
   text-align: center;
   margin: 3rem auto 0.3rem auto;
   padding: 0;
}

#forum-container {
   width: 70vw;
   min-height: 15rem;
   background-color: white;
}

.round-image {
   border-radius: 50%;
   width: 3rem;
   height: 3rem;
}

footer {
   position: relative;
   bottom: 0;

   margin-top: 2rem;
   height: var(--footer-height);

   color: var(--secondary-color);
   background-color: var(--main-color);
}

/* placeholder */
.footer-text-element {
   margin: 1rem;
}

@media(max-width: 1000px) {
   #forum-container {
      width: 90vw;
   }
}

@media(max-width: 600px) {
   #forum-container {
      width: 100vw;
   }
}


/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/
* {
   margin: 0;
   padding: 0;
}

a {
   color: #03658c;
   text-decoration: none;
}

ul {
   list-style-type: none;
}

/** ====================
* Lista de Comentarios
=======================*/
.comments-container {
   margin: 60px auto 15px;
   width: 90%;
}

.comments-container h1 {
   font-size: 2.5rem;
   color: #283035;
   font-weight: 400;
}

.comments-list {
   margin-top: 30px;
   margin-bottom: 4rem;

   position: relative;
}

/**
* Lineas / Detalles
-----------------------*/
.comments-list:before {
   content: '';
   width: 2px;
   height: 100%;
   background: #c7cacb;
   position: absolute;
   left: 32px;
   top: 0;
}

.comments-list:after {
   content: '';
   position: absolute;
   background: #c7cacb;
   bottom: 0;
   left: 27px;
   width: 7px;
   height: 7px;
   border: 3px solid #dee1e3;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
}

.reply-list:before,
.reply-list:after {
   display: none;
}

.reply-list li:before {
   content: '';
   width: 60px;
   height: 2px;
   background: #c7cacb;
   position: absolute;
   top: 25px;
   left: -55px;
}


.comments-list li {
   margin-bottom: 15px;
   display: block;
   position: relative;
}

.comments-list li:after {
   content: '';
   display: block;
   clear: both;
   height: 0;
   width: 0;
}

.reply-list {
   padding-left: 88px;
   clear: both;
   margin-top: 15px;
}

.comment-main-level {
   width: 100%;

   display: flex;
   align-items: normal;
   /* justify-content: center; */
}

.comment-main-level:after {
   content: '';
   width: 0;
   height: 0;
   display: block;
}

/**
* Caja del Comentario
---------------------------*/
.comments-list .comment-box {
   position: relative;

   width: 100%;
   /* float: right; */

   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.reply-list .comment-box {
   width: 100%;
}

.comment-box .comment-head {
   background: #FCFCFC;
   padding: 10px 12px;
   border-bottom: 1px solid #E5E5E5;
   overflow: hidden;
   -webkit-border-radius: 4px 4px 0 0;
   -moz-border-radius: 4px 4px 0 0;
   border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
   float: right;
   margin-left: 14px;
   position: relative;
   top: 2px;
   color: #A6A6A6;
   cursor: pointer;
   -webkit-transition: color 0.3s ease;
   -o-transition: color 0.3s ease;
   transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
   color: #03658c;
}

.comment-box .comment-name {
   color: #283035;
   font-size: 1rem;
   font-weight: 700;
   float: left;
   margin-right: 10px;
}

.comment-box .comment-name a {
   color: #283035;
}

.comment-box .comment-head span {
   color: #999;
   font-size: 0.8rem;
}

.comment-box .comment-content {
   background: #FFF;
   padding: 12px;
   font-size: 1rem;
   color: #595959;
   -webkit-border-radius: 0 0 4px 4px;
   -moz-border-radius: 0 0 4px 4px;
   border-radius: 0 0 4px 4px;
}

.comment-main-level .comment-content {
   font-size: 1.1rem;
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
   color: #03658c;
}

.comment-box .comment-name.by-author:after {
   content: 'autor';
   background: #03658c;
   color: #FFF;
   font-size: 0.7rem;
   padding: 3px 5px;
   font-weight: 700;
   margin-left: 10px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

.no-comment-div {
   height: 1rem;
}

hr {
   border: none;
   border-top: 1px dashed lightgray;
}

#big-margin {
   margin-bottom: 3rem;
}

.evidence-content {
   background-color: white;
   padding: 1rem;
   padding-bottom: 0.3rem;
}

li.evi img {
   width: 1rem;
   height: 1rem;
   margin-top: 0.3rem;
   margin-bottom: 0;
   padding: 0;
}

li.evi p {
   display: inline-block;
}

li.evi, li.evi a {
   color: black;
   font-style: italic;
}

textarea {
   width: 90%;
   min-height: 5rem;

   display: block;

   margin-left: auto;
   margin-right: auto;
   margin-bottom: 2rem;

   resize: none;
}

.button-area {
   width: 100%;

   display: flex;
   justify-content: center;
}

.button--area {
   background-color: var(--darker-blue-buap);
   border: none;
   border-radius: 0.3rem;

   width: 15rem;
   height: 3rem;

   color: #fff;

   font-size: 0.9rem;
   text-align: center;
}

.button--area:hover {
   background-color: var(--main-color-hover);
}

.form-container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.form-container form {
   width: 100%;
}

@media only screen and (max-width: 766px) {
   .comments-container {
      width: 100%;
   }

   .comments-list .comment-box {
      width: 100%;
   }

   .reply-list .comment-box {
      width: 100%;
      margin-right: 1rem;
   }
}
